<div class="program-block-icon program-list-container">
    <div class="program-block-item-wrapper">
        <label for="tempo">Tempo</label>
        <input type="number" name="tempo" id="tempo" value="{{tempo}}">
    </div>

    <div class="program-block-item-wrapper">
        <label for="counts">Counts</label>
        <input type="number" name="counts" id="counts" value="{{counts}}">
    </div>

    <div class="program-block-item-wrapper">
        {{#if quarter}}
        <input type="checkbox" class="quarter" name="quarter" id="quarter{{@index}}{{index}}" checked>
        <label for="quarter{{@index}}{{index}}">Quarter</label>
        {{else}}
        <input type="checkbox" class="quarter" name="quarter" id="quarter{{@index}}{{index}}">
        <label for="quarter{{@index}}{{index}}">Quarter</label>
        {{/if}}
    </div>

    <div class="program-block-item-wrapper">
        {{#if eight}}
        <input type="checkbox" class="eight" name="eight" id="eight{{@index}}{{index}}" checked>
        <label for="eight{{@index}}{{index}}">Eighth</label>
        {{else}}
        <input type="checkbox" class="eight" name="eight" id="eight{{@index}}{{index}}">
        <label for="eight{{@index}}{{index}}">Eighth</label>
        {{/if}}
    </div>

    <div class="program-block-item-wrapper">
        {{#if sixteen}}
        <input type="checkbox" class="sixteen" name="sixteen" id="sixteen{{@index}}{{index}}" checked>
        <label for="sixteen{{@index}}{{index}}">Sixteenth</label>
        {{else}}
        <input type="checkbox" class="sixteen" name="sixteen" id="sixteen{{@index}}{{index}}">
        <label for="sixteen{{@index}}{{index}}">Sixteenth</label>
        {{/if}}
    </div>

    <div class="program-block-item-wrapper">
        {{#if triplet}}
        <input type="checkbox" class="triplet" name="triplet" id="triplet{{@index}}{{index}}" checked>
        <label for="triplet{{@index}}{{index}}">Triplet</label>
        {{else}}
        <input type="checkbox" class="triplet" name="triplet" id="triplet{{@index}}{{index}}">
        <label for="triplet{{@index}}{{index}}">Triplet</label>
        {{/if}}
    </div>

    <div class="program-block-item-wrapper">
        <button class="delete-block-button" id="{{@index}}{{index}}">X</button>
    </div>

</div>